**/bin/
**/obj/
**/out/
**/TestResults/
**/.vs/
**/.vscode/
**/.idea/

.git/
.gitignore
.dockerignore

tests/
Docs/
relatorios/

*.md
!README.md

**/appsettings.Development.json
**/appsettings.Local.json
**/*.user
**/secrets.json
.env
.env.*

docker-compose*.yml
Dockerfile*
coverlet.runsettings
