<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>

          <Exclude>[OficinaDigital.*.Tests]*</Exclude>

          <ExcludeByAttribute>
            Obsolete,
            GeneratedCodeAttribute,
            CompilerGeneratedAttribute,
            ExcludeFromCodeCoverageAttribute
          </ExcludeByAttribute>

          <ExcludeByFile>
            **/Migrations/*.cs,
            **/*.generated.cs,
            **/*.Designer.cs
          </ExcludeByFile>

          <SkipAutoProps>true</SkipAutoProps>
          <UseSourceLink>true</UseSourceLink>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
